<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <!-- <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/images/shous-logo.png" class="logo" alt="Nest Dashboard" /> </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/index">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <!-- users                     -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">users</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/product">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                </li>
                <li class="menu-item  active">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupon">
                        <!-- <i class="icon material-icons md-shopping_cart"></i> -->
                        <!-- <i class=" fa-solid fa-ticket"></i> -->

                        <i class="icon fa-solid fa-ticket"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/banner">

                        <i class="icon fa-regular fa-object-group"></i>
                        <span class="text">Banner</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/sales">

                        <i class="icon fa-solid fa-border-all"></i>
                        <span class="text">Sales</span>
                    </a>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>

            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <div class="content-header mt-2 mb-0">
                    <h2 class="content-title card-title">Order detail</h2>
                </div>
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    
                    
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <p>Details for Order ID: <%=orders.orderId%>
                    </p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span> <i class="material-icons md-calendar_today"></i>

                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                <option>Change status</option>
                                <option>Awaiting payment</option>
                                <option>Confirmed</option>
                                <option>Shipped</option>
                                <option>Delivered</option>
                            </select>
                            <a class="btn btn-primary" href="#">Save</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i
                                    class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>

                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br />
                                        Pay method: card <br />
                                        Status: new
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">

                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                    </div>
                    <!-- row // -->
                    <div class="row">
                        <div class="col-lg-12" style="text-align: center;">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="10%">Product</th>
                                            <th width="10%">Name</th>
                                            <th width="10%">Unit Price</th>
                                            <th width="10%">Quantity</th>
                                            <th width="10%" class="">Total</th>
                                            <th width="15%" class="">Status</th>
                                            <th width="15%" class="">Action</th>
                                        </tr>
                                    </thead>






                                    <tbody id="relodedive">



                                        <%= console.log("skdjsk",orders,"lwdsjaldk")%>

                                            <% orders.products.forEach(product=> { %>


                                                <tr>
                                                    <td>
                                                        <a class="itemside justify-content-center" href="#">
                                                            <div class="left">



                                                                <img src="/sharpimg/<%= product.productId.images.image1 %>"
                                                                    width="40" height="40" class="img-xs" alt="Item" />
                                                            </div>

                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="info">
                                                            <%= product.productId.name %>
                                                        </div>
                                                    </td>
                                                    <td>$<%= product.productId.price %>
                                                    </td>
                                                    <td>
                                                        <%= product.count %>
                                                    </td>
                                                    <td class="">$<%= product.productId.price %>
                                                    </td>



                                                    <% if (product.productstatus==="canceled" ) { %>
                                                        <td><span
                                                                class="badge rounded-pill alert-danger">Canceled</span>
                                                        </td>
                                                        <% } else if(product.productstatus==="Out for Delivery" ){ %>
                                                            <!-- <td><span class="badge rounded-pill alert-warning">Pending</span></td>   -->
                                                            <td><span class="badge rounded-pill alert-warning ">Out for
                                                                    Delivery</span>
                                                            </td>
                                                            <% }else if(product.productstatus==="Shipped" ){ %>
                                                                <!-- <td><span class="badge rounded-pill alert-warning">Pending</span></td>   -->
                                                                <td><span
                                                                        class="badge rounded-pill alert-info">Shipped</span>
                                                                </td>
                                                                <% }else if(product.productstatus==="Delivered" ){ %>
                                                                    <!-- <td><span class="badge rounded-pill alert-warning">Pending</span></td>   -->
                                                                    <td><span
                                                                            class="badge rounded-pill alert-success">Delivered</span>
                                                                    </td>



                                                                    <%}else if(product.productstatus==="return" ){ %>
                                                                        <td><span
                                                                                class="badge rounded-pill alert-dark ">Return</span>
                                                                        </td>
                                                                        <%}else { %>
                                                                            <td><span
                                                                                    class="badge rounded-pill alert-info ">Placed</span>
                                                                            </td>
                                                                            <%}%>

                                                                                <td>


                                                                                    <%console.log(product._id,orders._id)%>

                                                                                        <%if(product.productstatus
                                                                                            !=='Delivered' ){%>
                                                                                            <select
                                                                                                class="form-select d-inline-block mb-lg-0 mr-5 mw-200"
                                                                                                id="<%= orders._id + product._id %>"
                                                                                                <%=(product.productstatus==="canceled"
                                                                                                ||
                                                                                                product.productstatus==="return"
                                                                                                ) ? 'disabled' : '' %>
                                                                                                onchange="changeProductStatus('
                                                                                                <%= orders._id %>','<%=
                                                                                                        product._id %>
                                                                                                        ')">
                                                                                                        <option
                                                                                                            value="placed"
                                                                                                            <%=(product.productstatus==='placed'
                                                                                                            )
                                                                                                            ? 'selected'
                                                                                                            : '' %>
                                                                                                            >Placed
                                                                                                        </option>
                                                                                                        <option
                                                                                                            value="Out for Delivery"
                                                                                                            <%=(product.productstatus==='Out for Delivery'
                                                                                                            )
                                                                                                            ? 'selected'
                                                                                                            : '' %>>Out
                                                                                                            for Delivery
                                                                                                        </option>
                                                                                                        <option
                                                                                                            value="Shipped"
                                                                                                            <%=(product.productstatus==='Shipped'
                                                                                                            )
                                                                                                            ? 'selected'
                                                                                                            : '' %>
                                                                                                            >Shipped
                                                                                                        </option>
                                                                                                        <option
                                                                                                            value="Delivered"
                                                                                                            <%=(product.productstatus==='Delivered'
                                                                                                            )
                                                                                                            ? 'selected'
                                                                                                            : '' %>
                                                                                                            >Delivered
                                                                                                        </option>
                                                                                            </select>
                                                                                            <%}else{%>
                                                                                                <p>no action</p>
                                                                                                <%}%>

                                                                                </td>

                                                </tr>
                                                <%})%>




                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive// -->

                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <div class="col-lg-12 text-end">
                    <div class="box shadow-sm bg-light row">
                        <h6 class="mb-15">Payment info</h6>
                        <div class="col-lg-8"></div>
                        <div class="col-lg-2">Subtotal :</div>
                        <div class="col-lg-2">
                            <%=orders.subtotal%>
                        </div>
                    </div>
                </div>
            </div>


           





            <!-- card end// -->
        </section>
        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
       
    </main>


    <script>
      




    </script>

    <!-- admin js -->
    <script src="/js/adminfech.js"></script>


    <!-- Latest version of jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</body>

</html>