<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <!-- <link href="/assets/css/main.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
            <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/images/shous-logo.png" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/index">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">users</span>
                    </a>

                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Category</span>
                    </a>
                </li>

                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin/product">
                        <i class="icon material-icons md-add_box"></i>
                        <span class="text">product</span>
                    </a>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                </li>

            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                    alt="English" />English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                    alt="Français" />Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                    alt="Français" />日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                    alt="Français" />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">edit Products</h2>
                    </div>
                </div>
            </div>
            <section>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="mb-4">
                                        <label for="product_name"  class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" name="title" class="form-control" value="<%=product.name%>"
                                            id="product_name" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Quantity</label>
                                        <input type="number" placeholder="Type here" name="quantity" value="<%=product.quantity%>"
                                            class="form-control" id="product_name" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="category"  class="form-label">Category:</label>

                                        <select name="category" id="category">
                                            <% categorys.forEach(category=> { %>
                                                <option value="<%= category._id %>">
                                                    <%= category.name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Price</label>
                                        <input type="number" placeholder="Type here" name="price" class="form-control"  value="<%= product.price %>"
                                            id="product_name" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="offer">Offer</label>
                                        <input type="number" class="form-control" id="offer" name="offer" value="<%= product.offer %>"
                                            placeholder="Type here" required>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <input placeholder="Type here"  class="form-control" rows="4" value="<%= product.description%>"
                                            name="description" row="4"></input>
                                    </div>
                                   
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Media</h4>
                                        </div>
                                        <div class="card-body row">
                                            <div class="input-upload col-lg-3">
                                                <h5>image 1</h5>
                                                <a style="display: none;" class="closbutton"
                                                onclick="cancelImage('imageinput1', 'displayimg1')"><i
                                                    class="fa-solid fa-circle-xmark"></i></a>

                                            <img class="img-display" id="displayimg1" src="/images/upload-img.svg"
                                                alt="" />
                                            <label for="imageinput1">
                                                <input class="form-control img-inputs" name="image1" type="file"
                                                    id="imageinput1" accept="image/*" required>
                                            </label>


                                            </div>
                                            <div class="input-upload col-lg-3">
                                                <h5>image 2</h5>
                                                <a style="display: none;" class="closbutton"
                                                onclick="cancelImage('imageinput2', 'displayimg2')"><i
                                                    class="fa-solid fa-circle-xmark"></i></a>
                                                <img src="/images/upload-img.svg" id="displayimg2" class="img-display"
                                                    alt="" required>
                                                <label for="imageinput2">
                                                    <input class="form-control img-inputs" name="image2"
                                                        id="imageinput2" type="file" accept="image/*" required>
                                                </label>
                                            </div>

                                            <div class="input-upload col-lg-3">
                                                 <h5>image 3</h5>
                                                <a style="display: none;" class="closbutton"
                                                    onclick="cancelImage('imageinput3', 'displayimg3')"><i
                                                        class="fa-solid fa-circle-xmark"></i></a>
                                                <img src="/images/upload-img.svg" alt="" id="displayimg3"
                                                    class="img-display" />
                                                <label for="imageinput3">
                                                    <input class="form-control" name="image3" type="file"
                                                        id="imageinput3" accept="image/*" required>
                                                </label>
                                            </div>

                                            <div class="input-upload col-lg-3">
                                                <h5>image 4</h5>
                                                <a style="display: none;" class="closbutton"
                                                    onclick="cancelImage('imageinput4', 'displayimg4')"><i
                                                        class="fa-solid fa-circle-xmark"></i></a>
                                                <img src="/images/upload-img.svg" alt="" id="displayimg4"
                                                    class="img-display" />
                                                <label for="imageinput4">
                                                    <input class="form-control" name="image4" type="file"
                                                        id="imageinput4" accept="image/*" required>
                                                </label>
                                            </div>
                                            <div class="pt-4 d-flex justify-content-center">
                                                <button class="btn btn-primary" type="submit"><i
                                                        class="text-muted material-icons md-post_add"></i>submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>

        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script>






        function displayimg(inputId, displayId) {
            const fileInput = document.getElementById(inputId);
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imageElement = document.getElementById(displayId);
                    imageElement.src = e.target.result;

                    const cancelButton = document.querySelector(`[onclick="cancelImage('${inputId}', '${displayId}')"]`);
                    cancelButton.style.display = 'inline-block';
                };
                reader.readAsDataURL(file);
            }

        }
        function cancelImage(inputId, displayId) {
            const fileInput = document.getElementById(inputId);
            fileInput.value = '';
            const imageElement = document.getElementById(displayId);
            imageElement.src = '/images/upload-img.svg';

            const cancelButton = document.querySelector(`[onclick="cancelImage('${inputId}', '${displayId}')"]`);
            cancelButton.style.display = 'none';

        }

        document.getElementById('imageinput1').addEventListener('change', function (event) {
            displayimg('imageinput1', 'displayimg1');

        })
        document.getElementById('imageinput2').addEventListener('change', function (event) {
            displayimg('imageinput2', 'displayimg2');
        })
        document.getElementById('imageinput3').addEventListener('change', function (event) {
            displayimg('imageinput3', 'displayimg3');
        })
        document.getElementById('imageinput4').addEventListener('change', function (event) {
            displayimg('imageinput4', 'displayimg4');
        })


    </script>



</body>

</html>