<!DOCTYPE html>
<html lang="en">

<head>
    <title>orderStatus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <!-- <link rel="stylesheet" href="/css/"> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-phone2"></span></div>
                            <span class="text">+ 1235 2355 98</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-paper-plane"></span></div>
                            <span class="text">youremail@email.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Minishop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Catalog</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/shop">Shop</a>
                            <a class="dropdown-item" href="/singleproduct">Single Product</a>
                            <a class="dropdown-item" href="/cart">Cart</a>
                            <a class="dropdown-item" href="/checkout">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('/images/about-heading.webp');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact</span>
                    </p>
                    <h1 class="mb-0 bread">Order status</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section contact-section bg-light">
        <div class="container">

            <div class="row d-flex mb-5 contact-info">
                <div class="w-100"></div>

                <div class="col-md-4 d-flex ">
                    <div class="info bg-white p-4">
                        <h4 class="pb-3">Delivery Address</h4>

                        <%console.log(userAddress,"######")%>

                        <p><span class="address-p">Name:</span> <a class="pr-5">
                                <%= userAddress.address[0].fullname %></br>
                            </a></p>
                        <p> <span class="address-p"></span>Email:</span> <a class="pr-5">
                                <%= userAddress.address[0].email%>
                            </a></p>

                        <p><span class="address-p"></span>Mobile:</span> <a class="pr-5">
                                <%= userAddress.address[0].mobile%></br>
                            </a></p>

                        <p> <span class="address-p"></span>House Name:</span> <a class="pr-5">
                                <%= userAddress.address[0]. houseName%></br>
                            </a></p>

                        <p> <span class="address-p"></span>City:</span> <a class="pr-5">
                                <%= userAddress.address[0].city%>
                            </a></p>


                        <p><span class="address-p"></span>State:</span> <a class="pr-5">
                                <%= userAddress.address[0].state%>
                            </a>
                        </p>

                        <p><span class="address-p"></span> pin :
                            </span> <a class="pr-5">
                                <%= userAddress.address[0].pin%>
                            </a></p>
                        </p>

                    </div>
                </div>
                <div class="col-md-4 d-flex ">
                    <div class="info bg-white p-4">
                        <h4 class="pb-3">Order Summary</h4>
                        <p><span>OrderId:</span> <a class="pr-5">
                                <%=orders.orderId%>
                            </a></p>

                        <p><span>Date:</span> <a class="pr-5"><%=orders.orderDate.toLocaleDateString('en-US', {
                                    weekday: 'short' , year: 'numeric' , month: 'short' , day: 'numeric' })%></a></p>

                        <p><span>items:</span> <a class="pr-5">
                                <%=orders.products[0].count%>
                            </a></p>


                        <p><span>Shipping fee:</span> <a class="pr-5">
                                Free Shipping </a></p>


                        <p><span>Payment Methode:</span> <a class="pr-5">
                                <%=orders.payment%>
                            </a></p>
                            
                        <p><span>subtotal:</span> <a class="pr-5">
                            <%=orders. subtotal%>
                        </a></p>

                        <p><span>Status:</span> <a class="pr-5">
                                <%=orders. orderStatus%>
                            </a></p>


                    </div>
                </div>
            </div>



            <% if (orders.products.length> 0) { %>
                <div class="container mt-5 relodediv">
                    <h3 class="mb-4">Products</h3>

                    <% orders.products.forEach(function(product, index) { %>
                        <%= console.log(product) %>
                            <div class="card mt-3">
                                <div class="card-body pb-0">
                                    <div class="product-card row">
                                        <div class="col-lg-3 justify-content-center p-3">


                                            <div class="product-image "
                                                style="border: 1px solid; width: 75px; float: left;">
                                                <a href="/singleproduct?id=<%= product.productId._id %>" class="w-100">
                                                    <img src="/sharpimg/<%= product.productId.images.image1 %>"
                                                        class="img-fluid d-block  w-100" alt="Colorlib Template">
                                                </a>
                                            </div>

                                            <div class="text-center ">
                                                <%= product.productId.name %>




                                            </div>
                                            <div class="text-center ">
                                                Quantity :<%= product.count %>
                                            </div>






                                            <div class="text-center ">
                                                <h6 class="rates">$ <%= product.price %>
                                                </h6>

                                            </div>


                                        </div>
                                        <div class="col-lg-6">

                                        
                                            <% if (product.productstatus==="canceled" ) { %>
                                                <div class="progress-track">
                                                    <ul id="progressbar">
                                                        <li class="step0 active " id="step1">Ordered</li>
                                                        <li class="step0 active " id="step2"></li>
                                                        <li class="step0 active " id="step3"></li>
                                                        <li class="step0 active  text-right" id="step4">Canceled</li>
                                                    </ul>
                                                </div>


                                                <% }else if(product.productstatus==="placed" ){ %>
                                                    <div class="progress-track">
                                                        <ul id="progressbar">
                                                            <li class="step0 active " id="step1">Ordered</li>
                                                            <li class="step0  text-center" id="step2">Shipped</li>
                                                            <li class="step0  text-right" id="step3">On the way
                                                            </li>
                                                            <li class="step0 text-right" id="step4">Delivered</li>
                                                        </ul>
                                                    </div>

                                                    <%}else if( product.productstatus==="Shipped" ){%>
                                                        <div class="progress-track">
                                                            <ul id="progressbar">
                                                                <li class="step0 active " id="step1">Ordered</li>
                                                                <li class="step0 active text-center" id="step2">Shipped
                                                                </li>
                                                                <li class="step0  text-right" id="step3">On the
                                                                    way</li>
                                                                <li class="step0 text-right" id="step4">Delivered</li>
                                                            </ul>
                                                        </div>

                                                        <% }else if(product.productstatus==="Delivered" ){ %>

                                                            <div class="progress-track">
                                                                <ul id="progressbar">
                                                                    <li class="step0 active " id="step1">Ordered</li>
                                                                    <li class="step0 active text-center" id="step2">
                                                                        Shipped</li>
                                                                    <li class="step0 active text-right" id="step3">On
                                                                        the way</li>
                                                                    <li class="step0 active text-right" id="step4">Delivered
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <% }else if(product.productstatus==="return" ){ %>
                                                                <div class="progress-track">
                                                                    <ul id="progressbar">
                                                                        <li class="step0 active " id="step1">Ordered</li>
                                                                        <li class="step0 active text-center" id="step2">
                                                                            Shipped</li>
                                                                        <li class="step0 active text-right" id="step3">On
                                                                            the way</li>
                                                                        <li class="step0 active text-right" id="step4">Delivered
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                <%}else{ %>
                                                                    <div class="progress-track">
                                                                        <ul id="progressbar">
                                                                            <li class="step0 active " id="step1">Ordered
                                                                            </li>
                                                                            <li class="step0 active text-center"
                                                                                id="step2">Shipped</li>
                                                                            <li class="step0 active text-right"
                                                                                id="step3">On the way</li>
                                                                            <li class="step0 text-right" id="step4">
                                                                                Delivered</li>
                                                                        </ul>
                                                                    </div>

                                                                    <%}%>




                                        </div>

                                        <div class="col-lg-3 p-3">
                                            <div style=" ">
                                                <h6 style="">
                                                    <%console.log("ok",product._id , product.productId._id,orders._id)%>

                                                    <% if (product.productstatus==="canceled" ) { %>
                                                        <div class="status-icon-cancelde"></div>
                                                        <%= product.productstatus %>

                                                            <p class="para">As per your request, your item has been
                                                                cancelled</p>

                                                            <% }else if(product.productstatus==="placed" ){ %>
                                                                <div class="status-icon"></div>
                                                                <%=product.productstatus%>
                                                                    <p class="para">Your Order has been Placed</p>
                                                                    <div class="justify-content-center">
                                                                        <button class="btn edit-btn" id="" style="background-color: white !important;"
                                                                            onclick="cancelorder('<%= product._id %>','<%= product.productId._id %>','<%=orders._id%>')">
                                                                            <i
                                                                                class="text-muted material-icons md-post_add"></i><i
                                                                                class="fa-solid fa-circle-xmark pr-2"></i>cancel
                                                                            Order
                                                                        </button>
                                                                    </div>
                                                                    <%}else if( product.productstatus==="Shipped" ){%>
                                                                        <div class="status-icon-shiped"></div>

                                                                        <%= product.productstatus %>
                                                                            <div class="justify-content-center">
                                                                                <button class="btn edit-btn" id=""  style="background-color: white !important;"
                                                                                
                                                                                    onclick="cancelorder('<%= product._id %>','<%= product.productId._id %>','<%=orders._id%>')">
                                                                                    <i
                                                                                        class="text-muted material-icons md-post_add"></i><i
                                                                                        class="fa-solid fa-circle-xmark pr-2"></i>cancel
                                                                                    Order
                                                                                </button>
                                                                            </div>
                                                                            <% }else
                                                                                if(product.productstatus==="Delivered"
                                                                                ){ %>
                                                                                    
                                                                                      
                                                                                    
                                                                                <div class="status-icon-deliverd"></div>
                                                                                <%=product.productstatus%>

                                                                                    <div class="justify-content-center ">
                                                                                        
                                                                                        
                                                                                        <button class="btn mt-2 pl-0"
                                                                                            id=""
                                                                                            onclick="returnorder('<%= product._id %>','<%= product.productId._id %>','<%=orders._id%>')">
                                                                                            <i
                                                                                                class="text-muted material-icons md-post_add"></i><i
                                                                                                class="fa-solid fa-truck-arrow-right pr-2"></i>Return
                                                                                            Order
                                                                                        </button>

                            
                                                                                      
                                                                                        
                                                                                    </div>

                                                                                    <% }else
                                                                                        if(product.productstatus==="return"
                                                                                        ){ %>
                                                                                        <div class="status-icon-return">
                                                                                        </div>
                                                                                        <%=product.productstatus%>

                                                                                            <p>no actions</p>

                                                                                            <%}else{ %>
                                                                                                <div
                                                                                                    class="status-icon-out">
                                                                                                </div>
                                                                                                <%=product.productstatus%>

                                                                                                    <p>no actions</p>

                                                                                                    <%}%>


                                                </h6>
                                                <!-- <p><i class="fa-solid fa-star"></i> <a href="" class="rate">Rate &
                                                        Review Product</a></p> -->

                                            </div>


                                        </div>




                                    </div>
                                </div>
                            </div>
                            <% }); %>
                </div>

                <%if(orders.orderStatus==="canceled"){%>


                    <%}else{%>


                        <% } %>
                            <% } %>

    </section>


    <section>
        <footer class="ftco-footer ftco-section">
            <div class="container">
                <div class="row">
                    <div class="mouse">
                        <a href="#" class="mouse-icon">
                            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                        </a>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Minishop</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                            </p>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Menu</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Shop</a></li>
                                <li><a href="#" class="py-2 d-block">About</a></li>
                                <li><a href="#" class="py-2 d-block">Journal</a></li>
                                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Help</h2>
                            <div class="d-flex">
                                <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                                    <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
                                    <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
                                    <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                    <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                                </ul>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">FAQs</a></li>
                                    <li><a href="#" class="py-2 d-block">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Have a Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St.
                                            Mountain
                                            View, San Francisco, California, USA</span></li>
                                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929
                                                210</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"></span><span
                                                class="text">info@yourdomain.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template
                            is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <style>
            .edit-btn {
                padding: 5px;
                /* width: 30% !important;
                background-color: rgb(226, 140, 140) !important;
                height: 50px !important; */
                color: rgb(29, 29, 217);
            }
        </style>



        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
                <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
                <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                    stroke="#F96D00" />
            </svg></div>


        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-migrate-3.0.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/aos.js"></script>
        <script src="js/jquery.animateNumber.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/scrollax.min.js"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="js/google-map.js"></script>
        <script src="js/main.js"></script>


        <script src="/js/fetch.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>

</html>